<%- include("partials/header"); -%>

<h1>Home</h1>

<% if ( newPostTitles.length !== 0 ) { %>
<%    for ( var i = newPostTitles.length - 1; i >= 0; i--){ %>
      <h4> <%= newPostTitles[i] %> </h4>
      <p><%= newPostContents[i] %> </p>
      <hr>
<%    } %>
<% } %>

<p> <%= startingBlogPost %> </p>

<%- include("partials/footer"); -%>
