<%- include("partials/header"); -%>

<h1>Home</h1>

<% if ( newPosts.length !== 0 ) { %>
<%    for ( var i = newPosts.length - 1; i >= 0; i--){ %>
      <h4> <%= newPosts[i].title %> </h4>
      <p><%= newPosts[i].content %> </p>
      <hr>
<%    } %>
<% } %>

<p> <%= startingBlogPost %> </p>

<%- include("partials/footer"); -%>
